<!DOCTYPE html>
<html>

<head>
    <%- include partials/head %>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/servicios.css' />
</head>

<body>
    <div class="container-fluid">

        <!--Navbar-->
        <%- include partials/navbar %>

        <div class="row page-text">
            <h2>
                Descubre nuestros servicios
            </h2>
        </div>


        <!--Services-->
        <!--First row-->
        <div class="row services-display">
            <!--Column 1-->
            <%- include partials/product %>
            <!--Column 1-->
            <!--Column 2-->
            <%- include partials/product %>
            <!--Column 2-->
            <!--Column 3-->
            <%- include partials/product %>
            <!--Column 3-->
        </div>
        <!--First row-->

        <!--Second row-->
        <div class="row services-display">
            <!--Column 1-->
            <%- include partials/product %>
            <!--Column 1-->
            <!--Column 2-->
            <%- include partials/product %>
            <!--Column 2-->
            <!--Column 3-->
            <%- include partials/product %>
            <!--Column 3-->
        </div>
        <!--Second row-->
        <!--Services-->



        <!--Footer-->
        <br><%- include partials/footer %>


    </div>
</body>




</html>